<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div class="home">
  <h1>Url Shortner</h1>
  <h3 class="w50 center-block">URL Shortner is a simple web application. It takes a large URL and provides a fixed length short URL.</h3>
</div>

<div class="w10 center-block">
  <%= link_to "Try it Out", url_shortner_path ,:class=>"btn btn-primary" %>
</div>
